body {
    background-color: var(--bgp);

    &.ligth {
        --bgp: white;
        --bgs: black;
    
        --cp: blue;
        --cs: red;
    }

    &.dark {
        --bgp: black;
        --bgs: white;
    
        --cp: blue;
        --cs: red;
    }

}